# Dependencies
node_modules
.pnp
.pnp.js

# Build output
dist
dist-ssr
build
*.apk
*.aab

# Android
android/build
android/.gradle
android/captures
android/app/build
android/app/release
android/local.properties
*.iml
*.keystore
!android/gen-keystore.bat

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Misc
*.local
*.tgz
